*{
  margin: 0;
}

.App {
  text-align: center;
  /* background-color: #f0f0f0; */
  background-color: #0d0d0d;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: .5em;
  color: aliceblue;
}

.App h1 span{
  color: #9f7aea;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App h1{
  margin-top: 15px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /* color: #61dafb; */
  color: #9f7aea;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #9f7aea;
  /* border-radius: 4px; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 15px;
}

button {
  
  padding: 15px 30px;
  background-color: #9f7aea;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-btn{
  
  padding: 10px 20px;
  border-radius: 0px;
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px;
  border: 1px solid #9f7aea;
}

button:hover {
  background-color: #9f7aea;
}

.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}



.movie-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.movie-description {
  color: #666;
}
